<!--Site footer -->
<footer class="site-footer">
    
        <div class="row center-xs">
            <div class="col-sm-12 col-md-6">
                <h6>SIMPLE EN APARIENCIA. SALVAJEMENTE DIVERTIDO.</h6>
                <p class="text-justify">Te damos la bienvenida a Hearthstone, un juego de cartas de estrategia fácil de aprender y con infinitas posibilidades, Ya sean esbirros, hechizos, misiones o héroes, las cartas de Hearthstone pueden cambiar el curso de una partida con efectos poderosos e interacciones delirantes. ¡No bajes la guardia y vence a tu oponente en un duelo de astucia!</p>
            </div>
            
        </div>
        <hr>
  
    
        <div class="row center-xs">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text">Copyright &copy; {{year}} Todos los Derechos Reservados Por José Mancilla</p>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://github.com/JoseLuis21"><i class="fa fa-github"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/joseluismancilla/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
 
</footer>
