
<mat-card class="card-card" [routerLink]="['/show-card', card.id]">
    <mat-card-header>
      <mat-card-title class="card-title" [matTooltip]="card.name" matTooltipPosition="above">
        #{{ card.id }} - {{ card.name }} 
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="card.image" alt="">
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <p class="card-content-description">{{ card.artistName }}</p>
            </mat-list-item>
            <br/>
            <mat-list-item>
                <p class="card-content-description">{{ (card.flavorText | slice:0:160) + (card.flavorText.length > 160 ? '...' : '') }}</p>
            </mat-list-item>
            <br/>
        </mat-list>
    </mat-card-content>
</mat-card>
