.card-card {
    max-width: 300px;
    background: rgb(51, 51, 51);
    margin: auto;
    margin-bottom: 15px;
    transition: all 0.5s;
}

.card-card:hover {
  background: #0d2f61;
  transform: scale(1.1);
  cursor: pointer;
  /*cursor: url(assets/images/cursor.png), auto;*/
}

.card-title {
  color:rgb(255, 152, 0)
}

.card-content-description {
  color:rgb(255, 152, 0)
}

.card-list-item {
  justify-content: space-between;
}

.card-list-item p {
  text-align: right;
}
